@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a,a:hover {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ul,ol,li {
  list-style: none;
}

body {
  overflow-x: hidden;
  font-family: 'Hanken Grotesk', sans-serif;
}

/* custome class */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.text-light {
  color: #F5F5F5;
}

.text-grey {
  color: #666;
}

.text-blue {
  color: #008ECC;
}

.text-black {
  color: #222;
}

.text-white {
  color: #fff;
}

.text-white-blue {
  color: #F3F9FB;
}

.text-dark-blue {
  color: #212844;
}

.text-green {
  color: #249B3E;
}



.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}
/* Common Classes */

/* Start Header Section */
header {
  background: #F5F5F5;
}

.header {
  padding: 12px 0;
}

.header p,
.header a,
.header span {
  font-size: 14px;
}

.header-right {
  gap: 32px;
}

.hader-item-1 {
  gap: 6px;
}

.hader-item-1 .line {
  position: relative;
}

.hader-item-1 .line::after {
  content: '';
  width: 1px;
  height: 18px;
  display: block;
  background-color: #D9D9D9;
  position: absolute;
  top: 0;
  right: -16px;
}

/* End Header Section */

/* Start Navbar Section */
nav {
  padding: 20px 0;
}

.navbar-left {
  gap: 16px;
}

.navbar-right {
  gap: 30px;
}

.search {
  width: 510px;
  background: #F3F9FB;
  padding: 0px 16px;
  border-radius: 5px;
}

.search input {
  width: 90%;
  background: #F3F9FB;
  padding: 12px 10px;
  border: 0;
}

[type="text"]::placeholder {
  font-size: 14px;
  color: #666666;
}

.navbar-right-item {
  gap: 32px;
}

.navbar-right-item-1 {
  gap: 6px;
}

.navbar-right-item-1 a {
  font-size: 16px;
}

.navbar-right-item-1 .line {
  position: relative;
}


.navbar-right-item-1 .line::after {
  content: '';
  width: 1px;
  height: 24px;
  display: block;
  background-color: #D9D9D9;
  position: absolute;
  top: 0;
  right: -16px;
}


/* End Navbar Section */

hr {
  border: 1px solid #EDEDED;
}

/* Start Dropdown Section */
.dropdown {
  padding: 20px 0;
}

.dropdown-btn-1 {
  background: #008ECC;
  padding: 10px 15px;
  border-radius: 50px;
  gap: 6px;
  color: #fff;
}

.dropdown-btn-1 p {
  font-size: 14px;
}

.dropdown-btn-1 i {
  font-size: 18px;
}

.dropdown-btn-2 {
  background: #F3F9FB;
  padding: 10px 15px;
  border-radius: 50px;
  gap: 6px;
  color: #fff;
}

.dropdown-btn-2 p {
  font-size: 14px;
  color: #222;
}

.dropdown-btn-2 i {
  font-size: 18px;
  color: #008ECC;
}

/* End Dropdown Section */

/* Start Banner Slider */
.banner {
  padding: 20px 0;
}

.banner-1 {
  width: 100%;
  height: 316px;
  background: #212844;
  border-radius: 20px;
}

.banner-left {
  width: 60%;
  padding: 40px 100px;
}

.banner-left-top {
  gap: 10px;
}

.banner-left-text-1 {
  font-size: 30px;
  color: #fff;
}

.banner-left-text-2 {
  font-size: 63px;
  color: #fff;
}

.banner-left-text-3 {
  font-size: 30px;
  color: #fff;
}



.banner-right {
  width: 40%;
  position: relative;
}

.svg-1 {
  position: absolute;
  top: 0;
  border-radius: 0 20px 0 0;
}

.svg-2 {
  position: absolute;
  top: 0;
  border-radius: 0 20px 0 0;
}

.svg-3 {
  position: absolute;
  bottom: 0;
  left: 130px;
}

.svg-4 {
  position: absolute;
  bottom: 0;
  left: 145px;
}

.banner-right-img {
  width: 268px;
  aspect-ratio: 1/1;
  margin-right: 135px;
  z-index: 999;
}

.banner-right-img img {
  width: 100%;
  height: 100%;
}

/* End Banner Slider */

/* Start Smartphones Section */
.smartphone {
  padding: 20px 0;
}

.smartphone-top-left p {
  color: #666;
  font-size: 24px;
}

.smartphone-top-left span {
  color: #008ECC;
  font-size: 24px;
}

.smartphone-top-right {
  gap: 6px;
}

.smartphone-top-right p {
  text-align: right;
  font-size: 16px;
}

.smartphone-top-right i {
  font-size: 18px;
  color: #008ECC;
}

.hr {
  margin-top: -6px;
  border: 1px solid #EDEDED;
}

/* Start Product Section */

/* Start Product Item-1 */
.product-item-1 {
  width: 227px;
  height: 295px;
  margin: 40px 0;
  border: 1px solid #EDEDED;
  border-radius: 16px;
}

.product-item-1-top {
  height: 60%;
  background: #F5F5F5;
  position: relative;
  border-radius: 16px 16px 0px 0px;
}

.product-item-1-img {
  background: #F5F5F5;
  width: 84px;
  height: 158px;
  margin: 0 auto;
  text-align: center;
}
.product-item-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item-1-top-discount {
  position: absolute;
  background: #008ECC;
  width: 51px;
  height: 53px;
  top: 0;
  right: 0;
  border-radius: 0px 16px 0px 16px;
}

.product-item-1-top-discount p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 8px 0;
}

.product-item-1-bottom {
  height: 60%;
  padding: 12px;
  color: #222;
}

.product-item-1-bottom-text-1 {
  font-size: 16px;
}

.product-item-1-price {
  gap: 10px;
  padding: 10px 0;
}

.product-item-1-price .price-1 {
  font-size: 16px;
  color: #222;
}

.product-item-1-price .price-2 {
  font-size: 16px;
  color: #222;
  text-decoration: line-through;
}

.product-item-1-bottom .price-3 {
  color: #249B3E;
  font-size: 16px;
  padding: 10px 0;
}
/* End Product Item-1 */

/* Start Product Item-2 */
.product-item-2 {
  width: 227px;
  height: 295px;
  margin: 40px 0;
  border: 1px solid #008ECC;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.product-item-2-top {
  height: 60%;
  background: #F5F5F5;
  position: relative;
  border-radius: 16px 16px 0px 0px;
}

.product-item-2-img {
  background: #F5F5F5;
  width: 126px;
  height: 174px;
  margin: 0 auto;
  text-align: center;
}
.product-item-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item-2-top-discount {
  position: absolute;
  background: #008ECC;
  width: 51px;
  height: 53px;
  top: 0;
  right: 0;
  border-radius: 0px 16px 0px 16px;
}

.product-item-2-top-discount p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 8px 0;
}

.product-item-2-bottom {
  height: 60%;
  padding: 12px;
  color: #222;
}

.product-item-2-bottom-text-1 {
  font-size: 16px;
}

.product-item-2-price {
  gap: 10px;
  padding: 10px 0;
}

.product-item-2-price .price-1 {
  font-size: 16px;
  color: #222;
}

.product-item-2-price .price-2 {
  font-size: 16px;
  color: #222;
  text-decoration: line-through;
}

.product-item-2-bottom .price-3 {
  color: #249B3E;
  font-size: 16px;
  padding: 10px 0;
}
/* End Product Item-2 */

/* Start Product Item-3 */
.product-item-3 {
  width: 227px;
  height: 295px;
  margin: 40px 0;
  border: 1px solid #EDEDED;
  border-radius: 16px;
}

.product-item-3-top {
  height: 60%;
  background: #F5F5F5;
  position: relative;
  border-radius: 16px 16px 0px 0px;
}

.product-item-3-img {
  background: #F5F5F5;
  width: 126px;
  height: 174px;
  margin: 0 auto;
  text-align: center;
}
.product-item-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item-3-top-discount {
  position: absolute;
  background: #008ECC;
  width: 51px;
  height: 53px;
  top: 0;
  right: 0;
  border-radius: 0px 16px 0px 16px;
}

.product-item-3-top-discount p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 8px 0;
}

.product-item-3-bottom {
  height: 60%;
  padding: 12px;
  color: #222;
}

.product-item-3-bottom-text-1 {
  font-size: 16px;
}

.product-item-3-price {
  gap: 10px;
  padding: 10px 0;
}

.product-item-3-price .price-1 {
  font-size: 16px;
  color: #222;
}

.product-item-3-price .price-2 {
  font-size: 16px;
  color: #222;
  text-decoration: line-through;
}

.product-item-3-bottom .price-3 {
  color: #249B3E;
  font-size: 16px;
  padding: 10px 0;
}
/* End Product Item-3 */

/* End Product Section */

/* End Smartphones Section */



/* Start Categories Section */

/* Start Categories Item-1 */
.categories-item-1 {
  width: 132px;
  height: 172px;
  margin: 40px 0;
}

.categories-item-1-top {
  width: 132px;
  height: 132px;
  background: #F5F5F5;
  border-radius: 50%;
  padding: 16px 0;
  border: 1px solid #008ECC;
}

.categories-item-1-top-img {
  background: #F5F5F5;
  width: 52px;
  height: 98px;
  margin: 0 auto;
  text-align: center
}

.categories-item-1-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories-item-1-bottom-name {
  font-size: 16px;
  text-align: center;
  color: #222;
}
/* End Categories Item-1 */

/* Start Categories Item-2 */
.categories-item-2 {
  width: 132px;
  height: 172px;
  margin: 40px 0;
}

.categories-item-2-top {
  width: 132px;
  height: 132px;
  background: #F5F5F5;
  border-radius: 50%;
  padding: 16px 0;
}

.categories-item-2-top-img {
  background: #F5F5F5;
  width: 52px;
  height: 98px;
  margin: 0 auto;
  text-align: center
}

.categories-item-2-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories-item-2-bottom-name {
  font-size: 16px;
  text-align: center;
  color: #222;
}
/* End Categories Item-2 */


/* End Categories Section */




/* xxl applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }

}

/* xl applies to large devices ( desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    width: 	960px;
    margin: 0 auto;
  }

}

/* lg applies to medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
  

}
/* md applies to small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 540px;
    margin: 0 auto;
  }
  

}
/* sm applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  
}