@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a,a:hover {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ul,ol,li {
  list-style: none;
}

body {
  overflow-x: hidden;
  font-family: "Libre Baskerville", serif;
}

/* custome class */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}
/* Common Classes */


/* Start Navbar Section */

.navbar {
  margin: 16px 0;
}

/* Start Navbar Left */
.navbar-left {
  width: 45%;
}

.navbar-left-logo {
  width: 10%;
}

.navbar-left-logo img {
  width: 100%;
  height: 100%;
}

.navbar-left-items {
  width: 75%;
}

.navbar-left-items a {
  font-size: 18px;
  font-weight: 400;
  color: #272727;
}

/* Start Navbar Left */

/* Start Navbar Right */
.navbar-right {
  width: 50%;
}

.navbar-right-search {
  width: 60%;
  padding: 16px 32px;
  background: #F0F0F0;
  border-radius: 8px;
}
.navbar-right-search input {
  width: 50%;
  border: 0;
  background: #F0F0F0;
}

.navbar-right-search input::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #848484;
}

.navbar-right-search-icon {
  width: 24px;
  aspect-ratio: 1/1;
}

.navbar-right-search-icon img {
  width: 100%;
  height: 100%;
}

.navbar-right-items {
  width: 35%;
}

.navbar-right-items i {
  font-size: 24px;
  color: #000000;
}

.navbar-right-items-cart {
  width: 25px;
  aspect-ratio: 1/1;
}

.navbar-right-items-cart img {
  width: 100%;
  height: 100%;
}

.navbar-right-items .user {
  gap: 12px;
}

.navbar-right-items .user-logo {
  width: 39px;
  height: 39px;
}

.navbar-right-items .user-logo img {
  width: 100%;
  height: 100%;
}

.navbar-right-items span {
  font-size: 18px;
  font-weight: 400;
  color: #646464;
}
/* End Navbar Right */



/* Start Navbar 2 */
.navbar-2 {
  display: none;
  padding: 8px 0;
}

.navbar-2-left {
  width: 28%;
  gap: 16px;
}

.navbar-2-left-logo {
  width: 45px;
  aspect-ratio: 1/1;
}

.navbar-2-left-logo img {
  width: 100%;
  height: 100%;
}

.navbar-2-left-item span {
  font-size: 22px;
  color: #000;
  font-weight: 700;
}

.navbar-2-right {
  width: 50%;
}

.navbar-2-right-icon {
  width: 24px;
  aspect-ratio: 1/1;
}

.navbar-2-right-icon img {
  width: 100%;
  height: 100%;
}
/* End Navbar 2 */

/* End Navbar Section */



/* Start Invite Section */
.invite {
  background: #F9FAFF;
}

.invite-items {
  padding: 8px 0;
}

/* Start Invite Item 1 */
.invite-item-1 {
  gap: 15px;
  width: 45%;
  margin: 0 auto;
}

.invite-item-1 p {
  font-size: 18px;
  font-weight: 400;
  color: #272727;
}

.invite-item-1 a {
  font-size: 18px;
  font-weight: 400;
  color: #00398F;
}

.invite-item-1 a:hover {
  text-decoration: underline;
}
/* End Invite Item 1 */

/* Start Invite Item 2 */
.invite-item-2 {
  padding: 10px 10px;
}

.invite-item-2-icon {
  width: 18px;
  aspect-ratio: 1/1;
}

.invite-item-2 img {
  width: 100%;
  height: 100%;
}
/* End Invite Item 2 */

/* End Invite Section */


/* Start Header Banner Section */

/* Start header Banner Item 1 */


.header-banner-item-1-left {
  width: 55%;
  height: 796px;
}

.header-banner-item-1-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-banner-item-1-right {
  width: 45%;
  position: relative;
}

.header-banner-item-1-right-bg {
  height: 796px;
}

.header-banner-item-1-right-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-banner-item-1-right-items {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  gap: 66px;
}

.header-banner-item-1-right-items-logo {
  width: 75%;
}

.header-banner-item-1-right-items-group {
  gap: 34px;
}

.header-banner-item-1-right-items-group-text {
  gap: 22px ;
}

.header-banner-item-1-right-items-group-text p {
  font-size: 48px;
  font-weight: 700;
  color: #565656;
}

.header-banner-item-1-right-items-group a {
  font-size: 24px;
  font-weight: 400;
  color: #272727;
  border: 2px solid #222222;
  border-radius: 10px;
  padding: 10px 38px;
}
/* End header Banner Item 1 */

/* End Header Banner Section */



/* Start Trending Section */
.trending {
  margin: 80px 0;
  gap: 26px;
}

.trending h1 {
  font-size: 36px;
  font-weight: 700;
  color: #272727;
}

.trending-product {
  gap: 40px;
}

/* Start Trending Product Item 1 */
.trending-product-item-1 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) ;
  border-radius: 10px;
}

.trending-product-item-1-top {
  width: 410px;
  height: 300px;
}

.trending-product-item-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.trending-product-item-1-bottom {
  width: 82%;
  padding: 12px 22px;
  gap: 10px;
}

.trending-product-item-1-bottom h2 {
  font-size: 24px;
  font-weight: 700;
  color: #272727;
}

.trending-product-item-1-bottom-group-1 p {
  font-size: 18px;
  font-weight: 400;
  color: #272727;
}

.trending-product-item-1-bottom-group-1 .rating {
  gap: 5px;
}

.trending-product-item-1-bottom-group-1 .rating span {
  font-size: 18px;
  font-weight: 400;
  color: #848484;
}

.trending-product-item-1-bottom-group-1 .rating i {
  font-size: 18px;
  color: #848484;
}

.trending-product-item-1-bottom-group-2 h3 {
  font-size: 24px;
  font-weight: 700;
  color: #272727;
}

.trending-product-item-1-bottom-group-2 p {
  font-size: 18px;
  font-weight: 400;
  color: #848484;
}

.trending-product-item-1-bottom-group-2 span {
  font-size: 18px;
  font-weight: 700;
  color: #0A8200;
}
/* End Trending Product Item 1 */

/* End Trending Section */






/* Start Deals Of The Day Section */
.deals {
  gap: 26px;
  margin-bottom: 65px;
}

.deals h1 {
  font-size: 36px;
  font-weight: 700;
  color: #272727;
}

.deals-product {
  gap: 70px;
}
/* Start Deals Product Item 1 */
.deals-product-item-1 {
  width: 488px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) ;
  border-radius: 10px;
}

.deals-product-item-1-top {
  width: 488px;
  height: 298px;
}

.deals-product-item-1-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.deals-product-item-1-bottom {
  margin-top: 30px;
  gap: 42px;
}

.deals-product-item-1-bottom-2 {
  gap: 22px;
  margin-bottom: 38px;
}

.deals-product-item-1-bottom-2 p {
  font-size: 36px;
  font-weight: 700;
  color: #272727;
}

.deals-product-item-1-bottom-2 span {
  font-size: 24px;
  font-weight: 700;
  color: #272727;
}
/* End Deals Product Item 1 */

/* End Deals Of The Day Section */





/* Start Trending Offers Section */
.trending-offers {
  gap: 30px;
  margin-bottom: 90px;
}

.trending-offers h1 {
  font-size: 36px;
  font-weight: 700;
  color: #272727;
  margin-left: 100px;
}

/* Start Trending Offers Product Item 1 */
.trending-offers-product-item-1 {
  width: 60%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) ;
  border-radius: 10px;
  margin: 0 auto;
}

.trending-offers-product-item-1-left {
  width: 45%;
  gap: 65px;
}

.trending-offers-product-item-1-left-top {
  width: 175px;
  height: 70px;
}

.trending-offers-product-item-1-left-top img {
  width: 100%;
  height: 100%;
}

.trending-offers-product-item-1-left-bottom {
  gap: 38px;
}

.trending-offers-product-item-1-left-bottom p {
  font-size: 48px;
  font-weight: 700;
  color: #272727;
}

.trending-offers-product-item-1-left-bottom a {
  font-size: 24px;
  font-weight: 400;
  color: #272727;
  border: 2px solid #222222;
  border-radius: 10px;
  padding: 10px 38px;
}

.trending-offers-product-item-1-right {
  width: 55%;
}

.trending-offers-product-item-1-right-photo {
  width: 604px;
  height: 587px;
}

.trending-offers-product-item-1-right-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 10px 10px 0px;
}
/* End Trending Offers Product Item 1 */

/* End Trending Offers Section */



/* Start Banner Section */
.banner-item-1 {
  position: relative;
}
.banner-item-1-bg {
  width: 100%;
  height: 892px;
}

.banner-item-1-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Start Banner Item 1 */
.banner-item-1-bg-items {
  gap: 90px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.banner-item-1-bg-items-Text-group {
  gap: 35px;
}

.banner-item-1-bg-items-Text-group h1 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

.banner-item-1-bg-items-Text-group h2 {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
}

.banner-item-1-bg-items-explore {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 38px;
  border-radius: 10px;
  margin-top: 40px;
}
/* End Banner Item 1 */

/* End Banner Section */



/* Start Shop by Categories Section */
.categories {
  margin: 80px 0;
  gap: 27px;
}

.categories-top h1 {
  font-size: 36px;
  font-weight: 700;
}

.categories-item-left {
  width: 31%;
  height: 680px;
}

.categories-item-left img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.categories-item-right {
  width: 68%;
  gap: 20px;
}

.categories-item-right-top-1 {
  width: 49%;
  height: 330px;
}

.categories-item-right-top-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.categories-item-right-bottom-1 {
  width: 49%;
  height: 330px;
}

.categories-item-right-bottom-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.categories-item-right-bottom-2-group {
  width: 49%;
  height: 330px;
}

.categories-item-right-bottom-2-group-1 {
  width: 48%;
  height: 330px;
}

.categories-item-right-bottom-2-group-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* End Shop by Categories Section */



















/************ Responsive Style breakpoint ************/

/* 7XL devices (largest screens, 3840px and up) */
@media (min-width: 3840px) {
  .container {
    width: 3840px;
    margin: 0 auto;
  }
}

/* 6XL devices (5K and larger, 2560px and up) */
@media (min-width: 2560px) and (max-width: 3839px) {
  .container {
    width: 2560px;
    margin: 0 auto;
  }
}

/* 5XL devices (4K, 1920px and up) */
@media (min-width: 1920px) and (max-width: 2559px) {
  .container {
    width: 1920px;
    margin: 0 auto;
  }
}

/* 4XL devices (extra-large desktops, 1536px and up) */
@media (min-width: 1536px) and (max-width: 1919px) {
  .container {
    width: 1536px;
    margin: 0 auto;
  }
}

/* 3XL devices (larger desktops, 1440px and up) */
@media (min-width: 1440px) and (max-width: 1535px) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }
}

/* 2XL devices (large desktops, 1360px and up) */
@media (min-width: 1360px) and (max-width: 1439px) {
  .container {
    width: 1360px;
    margin: 0 auto;
  }
}

/* Extra large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) and (max-width: 1359px) {
  .container {
    width: 1280px;
    margin: 0 auto;
  }

  /* Start Responsive Navbar Section */
  .navbar-right {
    width: 45%;
  }

  .navbar-right-search {
    width: 55%;
  }

  .navbar-right-items {
    width: 40%;
  }
  /* End Responsive Navbar Section */

  /* Start Responsive Invite Section */
  .invite-item-1 {
    width: 50%;
  }
  /* End Responsive Invite Section */

}

/* large devices (laptop, 1024px and up) */
@media (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  /* Start Responsive Navbar Section */
  .navbar-left-items a {
    font-size: 14px;
  }

  .navbar-right {
    width: 45%;
  }

  .navbar-right-search {
    width: 50%;
    padding: 10px 20px;
  }

  .navbar-right-search input::placeholder {
    font-size: 14px;
  }

  .navbar-right-search-icon {
    width: 20px;
  }

  .navbar-right-items {
    width: 40%;
  }

  .navbar-right-items i {
    font-size: 20px;
  }

  .navbar-right-items-cart {
    width: 22px;
  }

  .navbar-right-items .user-logo {
    width: 32px;
    height: 32px;
  }

  .navbar-right-items span {
    font-size: 14px;
  }
  /* End Responsive Navbar Section */

  /* Start Responsive Invite Section */
  .invite-item-1 {
    width: 50%;
  }

  .invite-item-1 p {
    font-size: 14px;
  }

  .invite-item-1 a {
    font-size: 14px;
  }

  .invite-item-2 {
    padding: 8px 8px;
  }
  /* End Responsive Invite Section */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
    
  /* Start Responsive Navbar Section */
  .navbar-left {
    width: 48%;
  }

  .navbar-left-items {
    width: 80%;
  }

  .navbar-left-items a {
    font-size: 12px;
  }

  .navbar-right {
    width: 45%;
  }

  .navbar-right-search {
    width: 45%;
    padding: 8px 16px;
  }

  .navbar-right-search input {
    width: 50%;
  }

  .navbar-right-search input::placeholder {
    font-size: 12px;
  }

  .navbar-right-search-icon {
    width: 18px;
  }

  .navbar-right-items {
    width: 45%;
  }

  .navbar-right-items i {
    font-size: 16px;
  }

  .navbar-right-items-cart {
    width: 18px;
  }

  .navbar-right-items .user-logo {
    width: 28px;
    height: 28px;
  }

  .navbar-right-items span {
    font-size: 12px;
  }
  /* End Responsive Navbar Section */

  /* Start Responsive Invite Section */
  .invite-item-1 {
    gap: 10px;
    width: 55%;
  }

  .invite-item-1 p {
    font-size: 12px;
  }

  .invite-item-1 a {
    font-size: 12px;
  }

  .invite-item-2 {
    padding: 2px 6px;
  }

  .invite-item-2-icon {
    width: 14px;
  }
  /* End Responsive Invite Section */

}

/* Small devices (landscape phones, 640px and up) */
@media (min-width: 640px) and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  /* Start Responsive Navbar Section */
  .navbar {
    display: none;
  }

  .navbar-2 {
    display: flex;
  }

  .navbar-2-left {
    width: 28%;
    gap: 8px;
  }
  /* End Responsive Navbar Section */

  /* Start Responsive Invite Section */
  .invite {
    display: none;
  }
  /* End Responsive Invite Section */

}

/* Extra small devices (portrait phones, less than 640px) */
@media (min-width: 414px) and (max-width: 639px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  
  /* Start Responsive Navbar Section */
  .navbar {
    display: none;
  }

  .navbar-2 {
    display: flex;
  }

  .navbar-2-left {
    width: 40%;
    gap: 10px;
  }

  .navbar-2-left-logo {
    width: 35px;
  }

  .navbar-2-left-item span {
    font-size: 20px;
  }

  .navbar-2-right {
    width: 30%;
  }

  .navbar-2-right-icon {
    width: 22px;
  }
  /* End Responsive Navbar Section */
  
  /* Start Responsive Invite Section */
  .invite {
    display: none;
  }
  /* End Responsive Invite Section */

}

/* 2xs devices (portrait phones, less than 414px) */
@media (max-width: 413px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  
  /* Start Responsive Navbar Section */
  .navbar {
    display: none;
  }

  .navbar-2 {
    display: flex;
  }

  .navbar-2-left {
    width: 48%;
    gap: 8px;
  }

  .navbar-2-left-logo {
    width: 32px;
  }

  .navbar-2-left-item span {
    font-size: 18px;
  }

  .navbar-2-right {
    width: 30%;
  }

  .navbar-2-right-icon {
    width: 20px;
  }
  /* End Responsive Navbar Section */
  
  /* Start Responsive Invite Section */
  .invite {
    display: none;
  }
  /* End Responsive Invite Section */

}
