@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a,a:hover {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

ul,ol,li {
  list-style: none;
}

body {
  overflow-x: hidden;
  font-family: 'Hanken Grotesk', sans-serif;
}

/* custome class */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.text-light {
  color: #F5F5F5;
}

.text-grey {
  color: #666;
}

.text-blue {
  color: #008ECC;
}

.text-black {
  color: #222;
}

.text-white {
  color: #fff;
}

.text-white-blue {
  color: #F3F9FB;
}

.text-dark-blue {
  color: #212844;
}

.text-green {
  color: #249B3E;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}
/* Common Classes */

/* Start Navbar Section */
.navbar-1 {
  background: #FCEED5;
  position: relative;
}

.navbar-rectangle-1 {
  position: absolute;
  z-index: -999;
}

.navbar {
  padding: 30px 0;
}

/* Start Navbar Left */
.navbar-left {
  width: 48%;
  gap: 48px;
}

.navbar-left-item {
  gap: 48px;
}

.navbar-left-img {
  width: 100px;
}

.navbar-left-img img {
  width: 100%;
  height: 100%;
}

.navbar-left-item a {
  color: #003459;
  font-size: 16px;
}


/* End Navbar Left */

/* Start Navbar Right */

.navbar-right {
  width: 48%;
}

/* Start Navbar Right Item 1 */
.navbar-right-item-1 {
  background: #FDFDFD;
  width: 42%;
  padding: 12px 16px;
  border-radius: 50px;
  gap: 12px;
}

.navbar-right-item-1 i {
  font-size: 20px;
}

.navbar-right-item-1 input {
  border: 0;
}

.navbar-right-item-1 input::placeholder {
  font-size: 14px;
  color: #99A2A5;
}
/* End Navbar Right Item 1 */

/* Start Navbar Right Item 2 */
.navbar-right-item-2 {
  background: #003459;
  padding: 12px 28px;
  border-radius: 50px;
}

.navbar-right-item-2 p {
  font-size: 16px;
  color: #FDFDFD;
}
/* End Navbar Right Item 2 */

/* Start Navbar Right Item 3 */

.navbar-right-item-3 {
  gap: 6px;
}

.navbar-right-item-3 .vnd-flag {
  width: 21px;
  aspect-ratio: 1/1;
}

.navbar-right-item-3 .vnd-flag img {
  width: 100%;
  aspect-ratio: 1/1;
}

.navbar-right-item-3 p {
  font-size: 16px;
  color: #002A48;
}

.navbar-right-item-3 i {
  font-size: 18px;
}
/* End Navbar Right Item 3 */

/* End Navbar Right */

/* Start Responsive Navbar */
.navbar-2 {
  display: none;
  background: #FCEED5;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 14px;

  z-index: 1;
}

#menuToggle a {
  color: #003459;
  transition: 0.3s ease;
}

#menuToggle a:hover {
  color: #589be2;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #00171F;
  border-radius: 5px;
  z-index: 1;
  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}


#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #003459;
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu {
  position: absolute;
  width: 300px;
  height: 1080px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.navbar-logo-2 {
  padding: 45px 10px;
}

.navbar-2-right a {
  color: #00171F;
}

.navbar-2-right i {
  font-size: 23px;
  padding: 0 14px;
}
/* End Responsive Navbar */

/* End Navbar Section */

/* Start Header Section */
header {
  background: #FCEED5;
  border-radius: 0 0 20px 20px;
}

/* Start Header Left */
.header-left {
  width: 45%;
  padding: 80px 0;
}

.header-left h1 {
  font-size: 60px;
  font-weight: 800;
  text-transform: capitalize;
  color: #002A48;
}

.header-left h2 {
  font-size: 46px;
  font-weight: 700;
  text-transform: capitalize;
  color: #002A48;
}

.header-left p {
  width: 75%;
  font-size: 16px;
  font-weight: 500;
  color: #242B33;
  padding: 30px 0;
}

.header-left-bottom {
  width: 60%;
}

.header-left-bottom-1 {
  width: 45%;
  padding: 12px 28px;
  border: 2px solid #003459;
  border-radius: 50px;
  gap: 8px;
}

.header-left-bottom-1 span {
  font-size: 16px;
  font-weight: 500;
  color: #003459;
}

.header-left-bottom-1 i {
  font-size: 24px;
  color: #003459;
}

.header-left-bottom-2 {
  width: 45%;
  padding: 12px 35px;
  background: #003459;
  border-radius: 50px;
}

.header-left-bottom-2 span {
  font-size: 16px;
  font-weight: 500;
  color: #FDFDFD;
}
/* End Header Left */

/* Start Header Right */
.header-right {
  width: 50%;
}

.header-right-item-1 {
  width: 433px;
  height: 515px;
  margin: 0 auto;
}
.header-right-item-1 img {
  width: 100%;
  height: 100%;
}
/* End Header Right */

/* End Header Section */





/* Start Pets Product Section */
.pets-product {
  padding: 60px 0;
  gap: 28px;
}

/* Start Pets Product Top */
.pets-product-top-left h1 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.pets-product-top-left p {
  font-size: 24px;
  font-weight: 700;
  color: #003459;
  text-transform: capitalize;
}

.pets-product-top-right a {
  font-size: 14px;
  font-weight: 500;
  color: #003459;
  gap: 8px;
  padding: 12px 28px;
  border: 1.5px solid #003459;
  border-radius: 50px;
}
/* End Pets Product Top */

/* Start Pets Product Item-1 */
.pets-product-item-1 {
  width: 280px;
  height: 378px;
  padding: 8px;
  background: #FDFDFD;
  border-radius: 12px;
  gap: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.pets-product-item-1-top {
  width: 264px;
  aspect-ratio: 1/1;
}

.pets-product-item-1-top img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.pets-product-item-1-bottom {
  padding: 8px;
  gap: 5px;
}

.pets-product-item-1-bottom h1 {
  font-size: 16px;
  font-weight: 700;
  color: #00171F;
}

.pets-product-item-1-bottom-text-group-1 {
  gap: 10px;
}

.pets-product-item-1-bottom p {
  font-size: 12px;
  font-weight: 500;
  color: #667479;
}

.pets-product-item-1-bottom span {
  font-size: 12px;
  font-weight: 700;
  color: #667479;
}

.pets-product-item-1-bottom h2 {
  font-size: 14px;
  font-weight: 700;
  color: #00171F;
}
/* End Pets Product Item-1 */


/* Start Pets Product Bottom */
.pets-product-bottom {
  display: none;
}
.pets-product-bottom a {
  font-size: 16px;
  font-weight: 500;
  color: #003459;
  padding: 12px 136px;
  border: 1.5px solid #003459;
  border-radius: 50px;
  gap: 8px;
}
/* End Pets Product Bottom */

/* End Pets Product Section */




/* Start Banner Section */
.banner {
  background: #FCEED5;
  border-radius: 20px;
  margin: 50px 0;
}

/* Start Banner Left */
.banner-left {
  width: 40%;
}

.banner-left-photo {
  width: 513px;
  height: 342px;
}

.banner-left-photo img {
  width: 100%;
  height: 100%;
}
/* End Banner Left */


/* Start Banner Right */
.banner-right {
  width: 30%;
  margin: 0 76px;
  text-align: right;
  gap: 24px;
}

.banner-right-top {
  gap: 8px;
}

.banner-right-top h1 {
  font-size: 52px;
  font-weight: 800;
  text-transform: capitalize;
  color: #003459;
}

.banner-right-top h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  color: #003459;
}

.banner-right-top p {
  width: 90%;
  font-size: 12px;
  font-weight: 500;
  color: #003459;
  text-align: right;
  margin-left: 40px;
}



.banner-right-bottom {
  gap: 20px;
}

.banner-right-bottom-item-1 {
  width: 40%;
  gap: 8px;
  padding: 12px 28px;
  border: 1.5px solid #003459;
  border-radius: 50px;
  color: #003459;
}

.banner-right-bottom-item-1 p {
  font-size: 16px;
  font-weight: 500;
  color: #003459;
}

.banner-right-bottom-item-1 i {
  font-size: 20px;
}

.banner-right-bottom-item-2 {
  width: 40%;
  padding: 14px 35px;
  background: #003459;
  border-radius: 50px;
}

.banner-right-bottom-item-2 p {
  color: #FDFDFD;
  font-size: 16px;
  font-weight: 500;
}
/* End Banner Right */

.responsive-banner-bottom {
  display: none;
}

/* End Banner Section */










/* Start Our Product Section */
.our-product {
  padding: 60px 0;
  gap: 28px;
}

/* Start our Product Top */
.our-product-top-left h1 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.our-product-top-left p {
  font-size: 24px;
  font-weight: 700;
  color: #003459;
  text-transform: capitalize;
}

.our-product-top-right a {
  font-size: 14px;
  font-weight: 500;
  color: #003459;
  gap: 8px;
  padding: 12px 28px;
  border: 1.5px solid #003459;
  border-radius: 50px;
}
/* End our Product Top */

/* Start our Product Item-1 */
.our-product-item-1 {
  width: 280px;
  height: 446px;
  padding: 8px;
  background: #FDFDFD;
  border-radius: 12px;
  gap: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.our-product-item-1-top {
  width: 264px;
  aspect-ratio: 1/1;
}

.our-product-item-1-top img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.our-product-item-1-bottom {
  padding: 8px;
  gap: 8px;
}

.our-product-item-1-bottom h1 {
  font-size: 16px;
  font-weight: 700;
  color: #00171F;
}

.our-product-item-1-bottom-text-group-1 {
  gap: 10px;
}

.our-product-item-1-bottom p {
  font-size: 12px;
  font-weight: 500;
  color: #667479;
}

.our-product-item-1-bottom span {
  font-size: 12px;
  font-weight: 700;
  color: #667479;
}

.our-product-item-1-bottom h2 {
  font-size: 14px;
  font-weight: 700;
  color: #00171F;
}

.free {
  background: #FCEED5;
  border-radius: 8px;
  padding: 8px 10px;
}

.free p {
  font-size: 14px;
  font-weight: 700;
  color: #002A48;
}
/* End our Product Item-1 */

/* End Our Product Section */


/* Start Pet Sellers Section */
.pet-sellers {
  padding: 60px 0;
  gap: 28px;
}

/* Start Pet Sellers Top */
.pet-sellers-top-left {
  gap: 8px;
}

.pet-sellers-top-left h1 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.pet-sellers-top-left p {
  font-size: 24px;
  font-weight: 700;
  color: #003459;
  text-transform: capitalize;
}

.pet-sellers-top-right a {
  font-size: 14px;
  font-weight: 500;
  color: #003459;
  gap: 8px;
  padding: 12px 28px;
  border: 1.5px solid #003459;
  border-radius: 50px;
}
/* End Pet Sellers Top */

/* Start Pet Sellers Brand Item-1 */
.pet-sellers-brand-item-1 {
  width: 12%;
  padding: 24px 37px;
}

.pet-sellers-brand-item-1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* End Pet Sellers Brand Item-1 */

/* End Pet Sellers Section */




/* Start Banner 2 Section */
.banner-2 {
  background: #FFB775;
  border-radius: 20px;
  margin: 50px 0;
}

/* Start Banner 2 Left */
.banner-2-left {
  width: 40%;
  overflow: hidden;
}

.banner-2-left-photo {
  width: 538px;
  height: 358px;
  transform: rotate(58.93deg);
}

.banner-2-left-photo img {
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}
/* End Banner 2 Left */


/* Start Banner 2 Right */
.banner-2-right {
  width: 40%;
  margin: 0 76px;
  gap: 24px;
}

.banner-2-right-top {
  gap: 8px;
}

.banner-2-right-top-item-1 {
  gap: 16px;
}

.banner-2-right-top h1 {
  font-size: 52px;
  font-weight: 800;
  text-transform: capitalize;
  color: #003459;
}

.banner-2-right-top h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  color: #003459;
}

.banner-2-right-top p {
  width: 90%;
  font-size: 12px;
  font-weight: 500;
  color: #003459;
}



.banner-2-right-bottom {
  gap: 20px;
}

.banner-2-right-bottom-item-1 {
  width: 40%;
  gap: 8px;
  padding: 12px 28px;
  border: 1.5px solid #003459;
  border-radius: 50px;
  color: #003459;
}

.banner-2-right-bottom-item-1 p {
  font-size: 16px;
  font-weight: 500;
  color: #003459;
}

.banner-2-right-bottom-item-1 i {
  font-size: 20px;
}

.banner-2-right-bottom-item-2 {
  width: 40%;
  padding: 14px 35px;
  background: #003459;
  border-radius: 50px;
  text-align: center;
}

.banner-2-right-bottom-item-2 p {
  color: #FDFDFD;
  font-size: 16px;
  font-weight: 500;
}
/* End Banner 2 Right */


/* End Banner 2 Section */











/* Start pet knowledge Section */
.pet-knowledge {
  padding: 60px 0;
  gap: 28px;
}

/* Start pet knowledge Top */
.pet-knowledge-top-left h1 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.pet-knowledge-top-left p {
  font-size: 24px;
  font-weight: 700;
  color: #003459;
  text-transform: capitalize;
}

.pet-knowledge-top-right a {
  font-size: 14px;
  font-weight: 500;
  color: #003459;
  gap: 8px;
  padding: 12px 28px;
  border: 1.5px solid #003459;
  border-radius: 50px;
}
/* End pet knowledge Top */

/* Start pet knowledge Item-1 */
.pet-knowledge-item-1 {
  width: 380px;
  height: 424px;
  padding: 8px;
  background: #FDFDFD;
  border-radius: 12px;
  gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.pet-knowledge-item-1-top {
  width: 364px;
  height: 240px;
}

.pet-knowledge-item-1-top img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.pet-knowledge-item-1-middle p {
  font-size: 10px;
  font-weight: 700;
  color: #FDFDFD;
  padding: 2px 10px;
  background: #00A7E7;
  border-radius: 50px;
}

.pet-knowledge-item-1-bottom {
  padding: 0px;
  gap: 8px;
}

.pet-knowledge-item-1-bottom h1 {
  font-size: 16px;
  font-weight: 700;
  color: #00171F;
}

.pet-knowledge-item-1-bottom-text-group-1 {
  gap: 10px;
}

.pet-knowledge-item-1-bottom p {
  font-size: 12px;
  font-weight: 500;
  color: #667479;
}

.pet-knowledge-item-1-bottom span {
  font-size: 12px;
  font-weight: 700;
  color: #667479;
}

.pet-knowledge-item-1-bottom h2 {
  font-size: 14px;
  font-weight: 400;
  color: #00171F;
  overflow: hidden;
}

/* End pet knowledge Item-1 */

/* End pet knowledge Section */




/* Start Footer Section */
footer {
  background: #FCEED5;
}


/* Start Footer Top */
.footer-top {
  padding-top: 60px;
}
/* Start Footer Top Item-1 */
.footer-top-item-1 {
  background: #003459;
  padding: 32px;
  border-radius: 16px;
}

/* Start Footer Top Item-1 Left */
.footer-top-item-1-left {
  width: 28%;
}
.footer-top-item-1-left p {
  font-size: 24px;
  font-weight: 700;
  color: #FDFDFD;
  text-transform: capitalize;
}
/* End Footer Top Item-1 Left */

/* Start Footer Top Item-1 Right */
.footer-top-item-1-right {
  background: #fff;
  padding: 12px 12px;
  border-radius: 14px;
  gap: 12px;
}

.footer-top-item-1-right .input-1 {
  width: 508px;
  padding: 14px 28px;
  border: 1px solid #99A2A5;
  border-radius: 8px;
}

.footer-top-item-1-right .input-1::placeholder {
  color: #99A2A5;
  font-size: 14px;
  font-weight: 500;
}

.footer-top-item-1-right .input-2 {
  background: #003459;
  color: #FDFDFD;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
}
/* End Footer Top Item-1 Right */

/* End Footer Top Item-1 */



/* Start Footer Top Item-2 */
.footer-top-item-2 {
  padding: 40px 0;
}

/* Start Footer Top Item-2 Left */
.footer-top-item-2-left {
  width: 28%;
}

.footer-top-item-2-left a {
  font-size: 16px;
  font-weight: 500;
  color: #00171F;
}
/* End Footer Top Item-2 Left */

/* Start Footer Top Item-2 Right */
.footer-top-item-2-right {
  width: 15%;
}
.footer-top-item-2-right a {
  color: #00171F;
}

.footer-top-item-2-right i {
  font-size: 24px;
}
/* End Footer Top Item-2 Right */

/* End Footer Top Item-2 */

/* End Footer Top */

.footer hr {
  border: 1px solid #CCD1D2;
}

/* Start Footer Bottom */
.footer-bottom {
  padding: 40px 0;
}

.footer-bottom p {
  font-size: 14px;
  font-weight: 500;
  color: #667479;
}

.footer-bottom-text {
  width: 15%;
}

.footer-bottom-text a {
  font-size: 14px;
  font-weight: 500;
  color: #667479;
}
/* End Footer Bottom */

/* End Footer Section */







/* xxl applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }

  /* Start Responsive Header Section */
  .header-left p {
    width: 95%;
  }

  .header-left-bottom {
    width: 75%;
  }

  /* End Responsive Header Section */


}

/* xl applies to large devices ( desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    width: 	960px;
    margin: 0 auto;
  }

  /* Start Responsive Navbar Section */
  .navbar-left {
    width: 45%;
    gap: 0;
  }

  .navbar-left-item {
    gap: 30px;
  }

  .navbar-left-item a {
    font-size: 14px;
  }

  .navbar-right {
    width: 50%;
  }

  .navbar-right-item-1 {
    width: 38%;
    padding: 10px 10px;
    gap: 8px;
  }

  .navbar-right-item-1 i {
    font-size: 16px;
  }

  .navbar-right-item-1 input {
    width: 75%;
  }

  .navbar-right-item-1 input::placeholder {
    font-size: 12px;
    color: #99A2A5;
  }

  .navbar-right-item-2 {
    padding: 12px 20px;
  }

  .navbar-right-item-2 p {
    font-size: 14px;
  }
  /* End Responsive Navbar Section */

}

/* lg applies to medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
  
  /* Start Responsive Navbar Section */
  .navbar-left {
    gap: 0;
  }

  .navbar-left-item {
    gap: 25px;
  }

  .navbar-left-img {
    width: 90px;
  }

  .navbar-left-item a {
    font-size: 12px;
  }

  .navbar-right {
    width: 50%;
  }

  .navbar-right-item-1 {
    gap: 5px;
    width: 44%;
    padding: 6px 0px;
  }

  .navbar-right-item-1 i {
    font-size: 12px;
  }

  .navbar-right-item-1 input {
    width: 52%;
  }

  .navbar-right-item-1 input::placeholder {
    font-size: 8px;
  }

  .navbar-right-item-2 {
    padding: 8px 16px;
  }


  .navbar-right-item-2 p {
    font-size: 12px;
  }

  .navbar-right-item-3 {
    gap: 2px;
  }

  .navbar-right-item-3 .vnd-flag {
    width: 18px;
  }

  .navbar-right-item-3 p {
    font-size: 12px;
  }

  .navbar-right-item-3 i {
    font-size: 12px;
  }
  /* End Responsive Navbar Section */

}
/* md applies to small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 540px;
    margin: 0 auto;
  }
  
  /* Start Navbar Responsive */
  .navbar-1 {
    display: none;
  }

  .navbar-2 {
    display: flex;
  }
  /* End Navbar Responsive */

}
/* sm applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  /* Start Navbar Responsive */
  .navbar-1 {
    display: none;
  }

  .navbar-2 {
    display: flex;
  }
  /* End Navbar Responsive */


  
  /* Start Responsive Header */
  .header {
    display: flex;
    flex-direction: row;
    gap: 45px;
    justify-content: center;
    margin-bottom: 20px;
  }

  .header-left {
    width: 100%;
    padding: 0 16px;
  }

  .header-left h1 {
    font-size: 46px;
    font-weight: 800;
    text-transform: capitalize;
    color: #002A48;
  }

  .header-left h2 {
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    color: #002A48;
  }

  .header-left p {
    width: auto;
    font-size: 12px;
    font-weight: 500;
    color: #242B33;
    padding: 25px 0;
    text-align: justify;
  }

  .header-left-bottom {
    width: auto;
  }

  .header-left-bottom-1 {
    width: auto;
    gap: 8px;
  }

  .header-left-bottom-2 {
    width: auto;
  }

  .header-right {
    width: auto;
  }

  .header-right-item-1 {
    width: 315px;
    height: 400px;
    margin: 0 auto;
  }
  /* End Responsive Header */


  /* Start Responsive Pets Product Section */

  .pets-product {
    padding: 20px 16px;
    gap: 20px;
  }


  .pets-product-top-left h1 {
    font-size: 14px;
    font-weight: 500;
    color: #000;
  }

  .pets-product-top-left p {
    font-size: 20px;
    font-weight: 700;
  }

  .pets-product-top-right {
    display: none;
  }

  .pets-product-items {
    gap: 12px;
  }

  .pets-product-item-1 {
    width: 185px;
    height: 317px;
    margin: 0;
    margin-bottom: 12px;
  }

  .pets-product-item-1-top {
    width: 169px;
  }

  .pets-product-item-1-bottom {
    padding: 0;
    gap: 8px;
  }

  .pets-product-item-1-bottom h1 {
    font-size: 14px;
  }

  .pets-product-item-1-bottom-text-group-1 {
    display: inline;
  }

  .dots {
    display: none;
  }

  .pets-product-item-1-bottom h2 {
    font-size: 16px;
  }

  .pets-product-bottom {
    display: flex;
  }
  /* End Responsive Pets Product Section */


  /* Start Responsive Banner Section */
  .banner {
    display: flex;
    flex-direction: column;
    margin: 20px 16px;
    text-align: center;
  }

  .banner-left {
    display: none;
  }

  .banner-right {
    text-align: center;
    margin: 20px 20px;
    width: auto;
  }

  .banner-right-top h1 {
    font-size: 36px;
  }

  .banner-right-top h2 {
    font-size: 24px;
  }

  .banner-right-top p {
    width: auto;
    text-align: center;
    margin: 0;
  }

  .banner-right-bottom {
    justify-content: space-between;
    align-items: center;
    gap: 0px;
  }

  .banner-right-bottom-item-1 {
    width: 48%;
  }

  .banner-right-bottom-item-2 {
    width: 48%;
  }

  
.responsive-banner-bottom {
  display: flex;
}

.responsive-banner-bottom img {
    width: 100%;
    height: 100%;
  }
  /* End Responsive Banner Section */

  .our-product {
    display: none;
  }

  .pet-sellers {
    display: none;
  }

  .banner-2 {
    display: none;
  }

  /* Start Responsive pet knowledge Section */
  .pet-knowledge {
    padding: 20px 16px;
  }


  .pet-knowledge-top-right {
    display: none;
  }

  .pet-knowledge-top-left h1 {
    font-size: 14px;
  }

  .pet-knowledge-top-left p {
    font-size: 20px;
  }

  .pet-knowledge-item-1 {
    margin: 10px auto;
  }

  /* End Responsive pet knowledge Section */



}
